<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<body class='body-style'>      
  <p>
    <!-- in a form, the 'action' is the route to send the form to. -->
    <form action='create_user' method='post'>
      <input type='text' name='username' placeholder='username'>
      <input type='text' name='password' placeholder='password'>
      <button type='submit'>Login</button> 
    </form>        
  </p>
 </body>
 </html>