<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<body class='body-style'>

<section>
    <span> 
    <% if !current_user %> 
      <button type='submit'> <a href="/sign_up"> Sign up </a> </button> 
        <!-- in a form, the 'action' is the route to send the form to. -->
        <form action='login' method='get'>
          <input type='text' name='username' placeholder='username'>
          <input type='text' name='password' placeholder='password'>
          <button type='submit'>Login</button> 
        </form>        
      </p>
    </span>
    <% else %>
      <span> current user: <%= current_user() %> </span>
      <span style='margin: 10px; border: 1px solid red'> <a href="/log_out"> Log out </span> 
      <p> 
    <% end %>


</section>

  <section>    
    <h1 id="welcomeMsg"> Welcome to <a href="/">Sinatra TODO List Manager.</a></h1>
  </section>
  
  <section class='rounded-corners'>
    <h3>Add new item</h3>
    
    <form method='post' action='/add'>
      <p><select name="owner_name">
      <% list_of_owners.each do |owner_name| %>
      <option value= <%= owner_name%>><%= owner_name%></option>
      <% end%>
    </select><p>
      <!-- <input type='text' name='owner_name' placeholder='Owner'> -->
      <input type='text' name='task_name' placeholder='Task name'>
      <input name='task_description' placeholder='Task description'>
      <input name='task_image' placeholder='Upload image'>
      <button type='submit' class='btn'>Add item</button>
    </form>
  </section>
  
  <%= erb :tasks_list, locals: {tasks: tasks} %>
  
  </body>
</html>
